#content {
  .content-zs {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: large;
    font-family: Arial;
    overflow-x: auto;
  }
  .content-wrap {
    font-family: "Courier New";
    overflow-x: auto;
  }
}
